.material-switch {
  margin: 0em 1em;
}
.material-switch > a {
  cursor: pointer;
  height: 0px;
  position: relative;
  top: 2px;
  width: 40px;
  display: block;
}
.material-switch > a::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  width: 40px;
}
.material-switch > a::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  width: 24px;
}
.switch-label.saturday a::before {
  background: inherit;
  opacity: 0.5;
}
.switch-label.saturday a::after {
  background: inherit;
  left: 20px;
}

.switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0em 0em 0.75em 0.2em rgba(0,0,0,0.5);
}

.col {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
