{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row mt-5 text-center">
    <div class="container text-center">
      <a class="btn btn-primary" href="{% url 'renew' %}">Maak Lijst Aan</a>
    </div>
  </div>
  <div class="row mt-5 text-center">
    {% for person in object_list %}
      <div class="col" style="min-width: 18rem; width: 18rem;">
        <div class="card" style="min-width: 18rem; width: 18rem;">
          <img class="card-img-top" src="{{ person.picture }}" alt="Foto van ...">
          <div class="card-body">
            <h5 class="card-title">{{ person.first_name }} {{ person.last_name }}</h5>
            <a href="{% url 'acknowledge' person.id %}" class="card-link">Aftekenen</a>
            <a href="{% url 'insufficient' person.id %}" class="card-link">Onvoldoende</a>
            <a href="{% url 'absent' person.id %}" class="card-link">Afwezig</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
